<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Animais</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/animais/add">Cadastrar</a>
        <a href="/animais">Animais</a>
    </nav>
    <main>
        {% block conteudo %}
        {% endblock%}
    </main>
</body>
</html>